html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    padding: 0;
    margin: 0;
    box-sizing: inherit;
}

body {
    padding: 0;
    margin: 0;
    font-family: sans-serif;
    font-size: 16px;
}

.shapes__wrapper {
    display: flex;
    align-items: center;
    gap: 5px;
    padding-left: 200px;
}

.shapes__btn {
    cursor: pointer;
    border: none;
    background: #FF6D60;
    color: #fff;
    padding: 10px 20px;
    border-radius: 5px;
    transition: .4s all;
}

.shapes__btn:hover {
    background: #98D8AA;
}

#colorPicker {
    cursor: pointer;
    background: none;
    border: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    padding: 0;
    margin: 0;
}

/* Add your CSS styles here for the modal */

.modal-content {
    padding: 20px;
    border-radius: 20px;
    background: white;
    color: black;
    position: relative;
    font-family: sans-serif;
    -webkit-box-shadow: 4px 4px 8px 0px rgba(34, 60, 80, 0.2);
    -moz-box-shadow: 4px 4px 8px 0px rgba(34, 60, 80, 0.2);
    box-shadow: 4px 4px 8px 0px rgba(34, 60, 80, 0.2);
}

.modal-content h3 {
    margin-bottom: 20px;
    font-weight: 400;
}

.modal-inner-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
}

.modal-inner-items {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.modal-inner-items sup {
    padding-right: 13%;
}

.modal-inner-info-title {
    font-size: 13px;
    color: #a3a3a3;
    margin-bottom: 5px;
}

.modal-inner-info-text {
    font-size: 16px;
}

.modal-inner-info-text.available {
    color: rgb(3, 180, 3);
}

.modal-inner-info-text.booked {
    color: rgb(180, 89, 3);
}

.modal-close {
    border: none;
    background: transparent;
    position: absolute;
    right: 30px;
    top: 15px;
    cursor: pointer;
}

.modal-close::before {
    content: '';
    position: absolute;
    display: block;
    background-image: url('../images/close.svg');
    background-repeat: no-repeat;
    background-size: cover;
    width: 20px;
    height: 20px;
}

label #addImage {
    display: none;
}

canvas,
canvas img {
    object-fit: cover;
}

#canvas-container {
    position: relative;
}